.button {
  text-decoration: none;
  padding: 13px 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  width: fit-content;
  font-size: 18px;
  background: #0278fe;
  border-radius: 4px;
  line-height: 1.15;
}

.button:hover {
  background-color: rgba(2, 120, 254, 0.883);
}

@media (max-width: 992px) {
  .button {
  }
}

@media (max-width: 576px) {
  .button {
    font-size: 14px;
  }
}
