.cover {
  width: 100%;
  height: 100%;
  background-image: url("../images/photo-cover.jpg");
  max-width: 1184px;
  margin: 0 auto;
  background-size: cover;
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 243px 0;
  margin-top: 92px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.cover__overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.cover__title {
  color: #fffdfd;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  width: 100%;
}

.cover__subtitle {
  color: #ffffff;
  max-width: 280px;
  height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 32px 0 32px 0;
  width: 100%;
}

@media (max-width: 992px) {
  .cover {
    margin: 0;
  }

  .cover__overlay {
    margin-top: 92px;
  }
}

@media (max-width: 576px) {
  .cover__overlay {
    padding: 43px 0;
    margin-top: 64px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-top: 46px;
  }

  .cover__subtitle {
    font-size: 14px;
    padding: 16.06px 0 16.06px 0;
  }

  .cover__link {
    margin: 0;
    font-size: 18px;
    margin-bottom: 45px;
  }
}
