.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.header__title {
  max-width: 850px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  margin: 0;
  padding-top: 194px;
  padding-bottom: 31px;
}

.header__subtitle {
  max-width: 720px;
  margin: 0;
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.header__photo-capa¨ {
  position: absolute;
  max-width: 984px;
  width: 100%;
  height: 615px;
  padding-left: 148px;
  padding-right: 148px;
  top: 562px;
  mix-blend-mode: hue;
}

.header__image {
  margin: 0;
  padding-top: 64px;
  padding-bottom: 92px;
  width: 100%;
  max-width: 984px;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .header {
  }

  .header__title {
    max-width: 720px;
  }

  .header__image {
    padding-top: 36px;
    padding-bottom: 88px;
  }
}

@media (max-width: 576px) {
  .header__title {
    max-width: 288px;
    font-size: 40px;
    padding-top: 122px;
    padding-bottom: 16px;
  }

  .header__subtitle {
    font-size: 16px;
    max-width: 288px;
  }

  .header__photo-capa¨ {
    padding: 0;
  }

  .header__image {
    padding-top: 40px;
    padding-bottom: 44px;
  }
}
