.logo__header {
  color: #ffffff;
  position: absolute;
  z-index: 1;
  padding-top: 34px;
}

@media (max-width: 992px) {
}

@media (max-width: 576px) {
  .logo__header {
    padding-top: 20px;
  }
}
