.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;
  padding: 92px 48px;
}

.photo-grid__item {
  width: 100%;
}

@media (max-width: 992px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 64px 24px;
  }
}

@media (max-width: 576px) {
  .photo-grid {
    grid-template-columns: 1fr;
    padding: 38px 16px;
  }
}
