.places__cards {
}

.places__title {
  color: #ffffff;
}

.places__image {
}

.places__author {
  color: #ffffff;
}

.places__name-author {
  color: #ffffff;
}

.places__paragraph {
  color: #ffffff;
}

.places__link {
}
